{% extends "layout.html" %}

{% block content %}
    
    <!-- Container for main content -->
    <div class="container">
        
        <!-- Banner Image -->
        <div class="row">
            <img src="../static/Hello.png" alt="Career Compass Banner">
        </div>

        <div class = "row">
            <div class="col-md-12">
                <div class="feedBox feedBoxSwell" id = "compassOurVision">
                    <h1 class="d-flex justify-content-between align-items-center">
                        <!-- feed box title-->
                        <span id = 'compassOurVisionTitle'> About Career Compass </span>
                        <span>
                            <!-- feedbox button next to feed box title-->
                            <button id = compassOurVisionButton class = 'btn feed_post_btn btnSwell'><i class="fa-solid fa-less-than"></i></button>
                        </span>
                    </h1>

                    <p id = compassOurVisionContent>Welcome to Career Compass, where we navigate the path to professional success for both job seekers and employers. 
                        Our mission is to bridge the gap between talented individuals and thriving organizations, facilitating connections 
                        that lead to fulfilling careers and sustained business growth.
                    </p>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-6">
                <div class = 'feedBox feedBoxSwell'>       
                    <!-- What we Do -->
                    <h1>What We Do</h1>
                    <p>
                        Career Compass serves as a comprehensive platform for job seekers and employers alike.
                        We offer a range of services tailored to meet the unique needs of each party:
                        <ul>
                            <li><strong>1. Job Seekers:</strong> For individuals seeking new career opportunities, Career Compass provides a user-friendly interface to browse job listings, create personalized profiles, and connect with prospective employers. Our advanced search filters and recommendation algorithms ensure that candidates find positions that align with their skills, experience, and aspirations.</li>
                            <li><strong>2. Employers:</strong> For organizations seeking top-tier talent, Career Compass offers a streamlined recruitment process to attract, assess, and hire the best candidates. Our employer portal provides access to a diverse pool of qualified professionals, along with tools for posting job openings, managing applications, and conducting interviews.</li>
                        </ul>
                    </p>
                    <br>
                </div>
            </div>

            <div class = "col-md-6">
                <div class = 'feedBox feedBoxSwell'>
                    <!-- Why Choose Career Compass? -->
                    <h1> Why Choose Career Compass?</h1>
                    <p>
                        <ul>
                            <li><strong>Comprehensive Network:</strong> With an extensive network of employers and job seekers spanning various industries and disciplines, Career Compass offers unparalleled access to opportunities and talent.</li>
                            <li><strong>Personalized Support:</strong> Our team of experienced career advisors is committed to providing personalized guidance and support at every step of the job search and recruitment process.</li>
                            <li><strong>Advanced Technology:</strong> Leveraging cutting-edge technology and data analytics, Career Compass delivers intelligent matchmaking solutions that maximize the likelihood of successful job placements.</li>
                            <li><strong>Ethical Practices:</strong> We adhere to the highest standards of integrity, fairness, and confidentiality in all our interactions, ensuring a positive experience for both job seekers and employers.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class="col-md-12">
                <div class="feedBox feedBoxSwell" id = "DivStarted">
                    <h1 class="d-flex justify-content-between align-items-center">
                        <!-- feed box title-->
                        <span id = 'DivStartedTitle'>Our Commitment to Diversity and Inclusion</span>
                        <span>
                            <!-- feedbox button next to feed box title-->
                            <button id = DivStartedButton class = 'btn feed_post_btn btnSwell'><i class="fa-solid fa-less-than"></i></button>
                        </span>
                    </h1>

                    <p id = DivStartedContent>At Career Compass, we believe that diversity is not only a moral imperative but also a strategic advantage. We are committed 
                        to fostering an inclusive environment where individuals from all backgrounds feel valued, respected, and empowered to thrive. Through our recruitment 
                        practices and partnerships, we strive to promote diversity, equity, and inclusion in the workplace.
                    </p>
                </div>
            </div>
        </div>
    </div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // defining the html for the two togglable about page feedboxes
    const abtTabId = {
        'compassOurVision': {
            'option1': {
                'title': 'About Career Compass',
                'content': 'Welcome to Career Compass, where we navigate the path to professional success for both job seekers and employers. Our mission is to bridge the gap between talented individuals and thriving organizations, facilitating connections that lead to fulfilling careers and sustained business growth.'
            },
            'option2': {
                'title': 'Our Vision',
                'content': 'At Career Compass, we envision a world where every individual finds purpose in their work and every organization discovers the perfect match for their team. We strive to create an ecosystem where talent meets opportunity, driving innovation, productivity, and prosperity for all.'
            }
        },
        'DivStarted': {
            'option1': {
                'title': 'Our Commitment to Diversity and Inclusion',
                'content': 'At Career Compass, we believe that diversity is not only a moral imperative but also a strategic advantage. We are committed to fostering an inclusive environment where individuals from all backgrounds feel valued, respected, and empowered to thrive. Through our recruitment practices and partnerships, we strive to promote diversity, equity, and inclusion in the workplace.'
            },
            'option2': {
                'title': 'Get Started with Career Compass Today!',
                'content': "Whether you're a job seeker embarking on a new career journey or an employer seeking top talent, Career Compass is here to help you navigate your way to success. Join our community today and let us guide you toward a brighter future!"
            }
        }
    };

    function generateContent(id) {
        //defining ID's of elements in feedboxes
        let title = document.getElementById(id + 'Title');
        let content = document.getElementById(id + 'Content');
        let button = document.getElementById(id + 'Button');

        //adjusting HTML of content
        if (title.innerHTML === abtTabId[id]['option1']['title']) {
            title.innerHTML = abtTabId[id]['option2']['title'];
            content.innerHTML = abtTabId[id]['option2']['content'];
        } else {
            title.innerHTML = abtTabId[id]['option1']['title'];
            content.innerHTML = abtTabId[id]['option1']['content'];
        }

        //adjusting inner HTML of button
        if (button.innerHTML === '<i class="fa-solid fa-less-than"></i>'){
            button.innerHTML = '<i class="fa-solid fa-greater-than"></i>';
        }
        else{
            button.innerHTML = '<i class="fa-solid fa-less-than"></i>';
            };
    }

    // adding event listeners 
    Object.keys(abtTabId).forEach(id => {
        let buttonId = id + 'Button';
        document.getElementById(buttonId).addEventListener('click', () => generateContent(id));
    });
});
</script>
    
{% endblock content %}
