{% extends "layout.html" %}
{% block content %}
    <h1>Create your account</h1>

    <form action = "" method = "post" nonvalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
    </form>

    <p>Please enter your account details</p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
{% endblock content %}