{% extends "layout.html" %}
{% block content %}
    <h1>Create your account</h1>

    <button class = 'btn btn-link btn-sm' onclick="location.href='{{ url_for('login') }}'">
    <span class= "fa fa-pen"></span>
    Already have an account?</button>

    <p>Please enter your account details</p>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
{% endblock content %}