
  {% extends "layout.html" %}
  {% block content %}
  <div class="container">
    
     <!-- Div for the grid which the feedBox sits in. -->
    <div class="row">
      <!-- Div for the save button -->
      
      {% for post in posts %}
      <div class="col-md-auto">
        <div class="affix feedBox">
          <h1>
            {{post.title}}
          </h1>
          <p><strong>Posted By {{post.company}} on {{post.date_posted}}</strong></p>
          <p><strong>Location :</strong> {{post.location}}</p>
          <p><strong>Job Type : </strong>{{post.job_type}}</p>
          <p><strong>Salary : </strong>{{post.salary}}</p>
          <p><strong>Description : </strong>{{post.description}}</p>
          <!-- <div>
            <button>
              <a href="{{url_for('about')}}">
                Like
              </a>
            </button>
            <button>
              <a href="{{url_for('login')}}">
                Comment
              </a>
            </button>
            <button>
              <a href="{{url_for('createAccount')}}">
                Save
              </a>  
            </button>
          </div> -->
        </div> 
        {% endfor %}
      </div> 
  </div>
  {% endblock content %}





















<!--
    example code from a blog website... could be worth looking into articles??

    <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
-->

