{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <img src="../static/Hello.png" alt="">
    </div>
    <div class="row gy-5">
        <div class="col-md-6">
            <div class="feedBox">
                <h1>Find</h1>
                <p>Just like a compass points north, Career Compass helps you identify the direction that aligns with your skills, interests, and aspirations. Our intuitive platform offers a range of tools and resources to help you navigate your career path with confidence</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../static/FindReal.png" class="img-fluid" alt="Finding Examples">
        </div>
    </div>
    <br>
    <br>
    <div class="row gy-5">
        <div class="col-md-6">
            <img src="../static/Saving.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6">
            <div class="feedBox">
                <h1>Save</h1>
                <p>Saving jobs to a file on Career Compass is a straightforward process designed to give users the flexibility to organize and keep track of their job prospects.</p>
                <br>
                <p>By saving jobs to a file, you can keep all your relevant job information in one place, making it easier to stay organized and focused on your job search goals. Career Compass empowers you to take control of your career journey and find the opportunities that align with your aspirations.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row gy-5">
        <div class="col-md-6">
            <div class="feedBox">
                <h1>Apply</h1>
                <p>Applying for jobs through Career Compass is a seamless and efficient process designed to simplify your job search and maximize your chances of success.</p>
                <br>
                <p>By applying for jobs through Career Compass, you gain access to a wide range of opportunities and resources to support you in finding your ideal job. Start your journey towards a rewarding career today with Career Compass!</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../static/Apply.png" alt="Application">
        </div>
    </div>

</div>












{% endblock content %}