{% extends "layout.html" %}
{% block content %}
<br>
<br>
    <div class="col-md-6 nonFeedBoxContainer">
        <h1> Create a Job Post </h1>
            <button class='btn btn-sm submitButton btnSwell nonFeedBoxBtn' onclick="location.href='/MyJobPosts'">
                <span class= "fa fa-clipboard"></span>
                View My Job Posts
            </button>
    </div>  

    <div class="content feedBox" style="padding-top: 20px; overflow: scroll;">
        <div class="row d-flex align-items-center justify-content-center" style="height: 60vh; overflow-wrap: normal; padding-bottom: 10px;">
            <div class="col-md-6">
                <h1>Set your hiring coordinates</h1>
                
                <h2>Tips for writing a good job post <span class="fa solid fa-star" style="color: gold;"></span> </h2>
                <p>
                    <ul> 
                        <li>Be specific about the job title</li> 
                        <li>Include any prerequiste qualifications</li> 
                        <li>Don't ask for candidates age, religion, gender, etc...</li>
                    </ul> 
                </p>
            </div>
            <div class="col-md-6">
                <h1>
                    Start From here...
                </h1>
                <form method="POST" action="">

                    {{form.hidden_tag()}}
        
                    <fieldset class="form-group">
                        <div class = "form-group">  
                            {{form.jobtitle.label(class='form-control-label formTextLabel')}}
        
                            {% if form.jobtitle.errors %}
                                {{form.jobtitle(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.jobtitle.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.jobtitle(class='form-control')}}
                            {% endif %}
                        </div>
        
                        <div class = "form-group">  
                            {{form.jobdescription.label(class='form-control-label formTextLabel')}}
        
                            {% if form.jobdescription.errors %}
                                {{form.jobdescription(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.jobdescription.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.jobdescription(class='form-control')}}
                            {% endif %}
                        </div>
        
                        <div class = "form-group">  
                            {{form.joblocation.label(class='form-control-label formTextLabel')}}
        
                            {% if form.joblocation.errors %}
                                {{form.joblocation(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.joblocation.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.joblocation(class='form-control')}}
                            {% endif %}
                        </div>
        
                        <div class = "form-group">  
                            {{form.jobtype.label(class='form-control-label formTextLabel')}}
        
                            {% if form.jobtype.errors %}
                                {{form.jobtype(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.jobtype.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.jobtype(class='form-control')}}
                            {% endif %}
                        </div>
        
                        <div class = "form-group">  
                            {{form.salary.label(class='form-control-label formTextLabel')}}
        
                            {% if form.salary.errors %}
                                {{form.salary(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.salary.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.salary(class='form-control')}}
                            {% endif %}
                        </div>
        
                    </fieldset>
                    <br>
                    <div class="form-group">
                        {{form.submit(class="submitButton btnSwell")}}
                    </div>
                </form>
            </div>
        </div>

        
    </div>
<br>
<br>

{% endblock content %}