{% extends "layout.html" %}
{% block content %}
    <div class="content">
        <h1>Create Your Job Post</h1>
        
        
        <p id = 'sub-header'>Enter your job details:</p>

        <form method="POST" action="">

            {{form.hidden_tag()}}

            <fieldset class="form-group">
                <div class = "form-group">  
                    {{form.jobtitle.label(class='form-control-label')}}

                    {% if form.jobtitle.errors %}
                        {{form.jobtitle(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.jobtitle.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.jobtitle(class='form-control')}}
                    {% endif %}
                </div>

                <div class = "form-group">  
                    {{form.jobdescription.label(class='form-control-label')}}

                    {% if form.jobdescription.errors %}
                        {{form.jobdescription(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.jobdescription.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.jobdescription(class='form-control')}}
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}