{% extends "layout.html" %}
{% block content %}

  <!-- Content to be refreshed goes here -->
    
<div class="col-md-6 nonFeedBoxContainer">
    <h1>My Applications</h1>
    <button class='btn btn-sm submitButton btnSwell nonFeedBoxBtn' onclick="location.href='/MyJobPosts'">
        <span class= "fa fa-clipboard"></span>
        My Job Posts
    </button>
</div>  
<div class="row d-flex justify-content-center align-items-center" style="overflow-wrap: normal;">
    <!-- Loop through each post -->
    {% for application in application_data %}

    <!--for each post access all 12 bootstrap columns-->
    <div class="col-md-12">
        <!-- create a feedbox object -->
        <div class="feedBox feedBoxSwell">

            <!-- words for post title -->
            <h1> {{application[1].title}} </h1>

            <!-- Metadata -->
            <!-- Metadata -->
            <p class="post-info">
                <strong>Posted on:</strong> <span>{{ application[1].date_posted.strftime("%b %d %Y") }}</span>
                <strong>Location:</strong> <span>{{ application[1].location }}</span>
                <strong>Job Type:</strong> <span>{{ application[1].job_type }}</span>
                <strong>Hourly Rate:</strong> <span>${{ application[1].salary }}</span><br>
                <p> <strong>Cover Letter: </strong> <br>
                    <span>{{ application[0].cover_letter }}</span></p>
            </p>
            

            <form method="POST">
                {{form.hidden_tag()}}
                <input type="hidden" name="application_id" value="{{ application[0].id }}">

                <div class="form-group">
                    {{form.submit(class="submitButton btnSwell")}}
                </div>
            </form>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}